  :host {
    font-family            : -apple-system, Kanit, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size              : 14px;
    color                  : #333;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .image-rounder {
    border-radius: 10px;
  }

  .fix-width-gallery {
    width  : 100%;
    padding: 0%;
    // padding-top: 0%;
    // padding-left: 36px;
    // padding-right: 36px;
  }

  .fix-twin-banner{
    padding-left: 41px;
    padding-right: 40px;
  }

  .fix-right-banner {
    margin-right: 3px
  }

  .grab {
    margin-top   : 34px;
    margin-bottom: 0px;
  }

  .fix-mar0 {
    margin-left : 0px !important;
    margin-right: 0px !important;
    margin-top: 15px;
  }

  .fix-pd-container {
    padding-left : 0px !important;
    padding-right: 0px !important;
  }

  .body{
    background-color: #f2f2f2;
  }

  .spacer {
    flex: 1;
  }

  .github-star-badge:hover {
    background-image   : linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color       : rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  svg#clouds {
    position: fixed;
    bottom  : -160px;
    left    : -230px;
    z-index : -10;
    width   : 1920px;
  }

  #navcolor {
    background-color: #ff6d00;
  }

  #navlink a:link {
    color: #FFFFFF;
  }

  #navlink a:visited {
    color: #FFFFFF;
  }

  .navbar-default .navbar-brand {
    background: linear-gradient(to top, #ff6600 0%, #ffcc00 100%);
    // color: #FFFFFF;
  }

  #navBarSearchForm input[type=text] {
    width: 100% !important;
  }

  .form-elegant .font-small {
    font-size: 0.8rem;
  }

  .form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow        : 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  }

  .form-elegant .z-depth-1-half,
  .form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow        : 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  }

  .form-elegant .modal-header {
    border-bottom: none;
  }

  .modal-dialog .form-elegant .btn .fab {
    color: #ffffff !important;
  }

  .form-elegant .modal-body,
  .form-elegant .modal-footer {
    font-weight: 400;
  }

  .btn-login {
    width     : 207.1px;
    height    : 56.1px;
    object-fit: contain;
  }

  .icon-chat {
    width     : 65px;
    /* height : 100px; */
    object-fit: contain;
  }

  .highlight {
    color: #ffcf17;
  }

  .form-elegant {
    background-image: linear-gradient(134deg, #ffa101, #ff9200 7%, #ff8100 17%, #ff7500 30%, #ff6e00 49%, #ff6d00);
    ;
    border-radius: 20px;
  }

  .body {
    background-color: rgba(245, 245, 245, 0.5);
  }

  .Path-54 {
    width           : 1598.8px;
    height          : 51.7px;
    background-color: #ffffff;
  }

  .warm-flame-gradient{
    background-image: linear-gradient(to top, #ffa101, #ff9200 7%, #ff8100 17%, #ff7500 30%, #ff6e00 49%, #ff6d00) !important;
  }

  .Rectangle-166 {
    width           : 100%;
    height          : 30px;
    object-fit      : contain;
    background-image: linear-gradient(to top, #ffa101, #ff9200 7%, #ff8100 17%, #ff7500 30%, #ff6e00 49%, #ff6d00);
  }

  #page-footer {
    height: 30px;
  }

  .Button-custom {
    width           : 193.8px;
    height          : 39.4px;
    background-color: #ffffff;
  }

  .facebook-btn {
    width           : 193.8px;
    height          : 39.4px;
    background-color: #0071bc;
  }

  @font-face {
    font-family: "";
    src        : ".../assets/kanit"
  }

  div {
    font-family: "";
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right    : 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display   : none;
      visibility: hidden;
    }
  }
 //modal
  .form-elegant .font-small {
    font-size: 0.8rem; }
    
    .form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
    
    .form-elegant .z-depth-1-half,
    .form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
    
    .form-elegant .modal-header {
    border-bottom: none; }
    
    // .modal-dialog .form-elegant .btn .fa {
    // color: #ff6d00!important; }
    
    // .form-elegant .modal-body, .form-elegant .modal-footer {
    // font-weight: 400; }

    // .slick-slide{
    //   img{
    //     width: 100%;
    //   }
    // }