<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark orange darken-4 fix-nav-padding" id="navcolor"
  [containerInside]="true">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img src="assets/img/Logo.png" alt="logo" style="width:60px; padding-left: -80px">
  </a>
  <!-- Collapsible content -->
  <ul class="navbar-nav mr-auto" style="padding-right: -80px;">
    <li class="nav-item" style="padding-right: -80px;">
      <form class="form-inline my-1 my-lg-0" style="margin-left: 0px;">
        <input class="form-control" type="search" placeholder="" aria-label="Search"
          style="width: 300pt; border-radius: 20px;">
      </form>
    </li>
    <li class="nav-item">
      <img src="assets/img/Cart.png" alt="logo" style="width:38px; height: 38px; margin-left: 30px;">
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <app-register-modal></app-register-modal>
    </li>
    <li class="navbar-item">
        <button type="button" class="btn btn-outline-light waves-effect fix-pd-container"
        style="width:130px; border-radius: 20px;" data-toggle="modal" data-target="#LoginModal"
        (click)="frame.show()">ล็อคอิน</button>
    </li>
  </ul>
</mdb-navbar>
<!--/.Navbar-->
<body class="body">
<div class="container fix-pd-container">
  <!--Body-->
  <div class="container-fluid fix-pd-container">
    <div class="row content">
      <div class="col-sm-1 sidenav">
      </div>
      <div class="col-sm-12" style="margin-top: 10px; padding: 0%">
        <div class="row">
          <div class="col-sm-3 col-md-6 col-lg-12 image-rounder fix-width-gallery">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="">
              <mdb-carousel-item>
                <div class="view" style="width: 100%; padding: 0%">
                  <img class="d-block" src="assets/img/Banner.png" alt="First slide" style="width: 100%; padding: 0%">
                  <div class="mask waves-light" mdbWavesEffect></div>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view" style="width: 100%; height: 100%; padding: 0%">
                  <img class="d-block" src="assets/img/Banner.png" alt="Second slide" style="width: 100%;">
                  <div class="mask waves-light" mdbWavesEffect></div>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view">
                  <img class="d-block" src="assets/img/Banner.png" alt="Third slide" style="width: 100%;">
                  <div class="mask waves-light" mdbWavesEffect></div>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-6 image-rounder" style="margin-top: 12px; padding: 0px 2px;">
            <img src="assets/img/Banner2.png" alt="logo" style="width:100%; height: 100%;">
          </div>
          <div class="col-sm-9 col-md-3 col-lg-6 image-rounder" style="margin-top: 12px; padding-right: 0px;">
            <img src="assets/img/Banner3.png" alt="logo" style="width:100%; height: 100%;">
          </div>
          <div class="col-sm-9 col-md-6 col-lg-12 grab fix-mar0" style="background-color:#ffffff; border-radius: 5px; padding-top: 5px; padding-bottom: 5px;">
            Catagory/หมวดสินค้า
          </div>
          <div class="col-sm-9 col-md-6 col-lg-12 grab fix-mar0" style="background-color:#ffffff; border-radius: 5px; padding-top: 5px; padding-bottom: 5px;">
              <div class="row">
                  <div class="col-md-12">
                      <app-catagory-list></app-catagory-list>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 col-md-6 col-lg-12">
            <br>
            <div class="row">
              <div class="col-sm-3 col-md-6 col-lg-12 align-content-lg-center"
                style="height:500px; background-color: #ffffff" href="#">
                <!-- <center>
                                      Coming Soon
                                  </center> -->
                <div class="container">
                  <div class="row">

                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <br /><br /><br />
                      <hr />
                      <p>Coming Soon</p>
                      <!-- <p>Change data items for xs,sm,md and lg display items respectively. Ex:data-items="1,3,5,6"</p>
                                              <p>Change data slide for slides per click Ex:data-slide="1"</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 sidenav">
      </div>
    </div>
  </div>
</div>

</body>
<!-- Footer -->
<footer class="font-small">
    <div class="Rectangle-166">
    </div>
  <!-- Footer Links -->
  <br>
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">ศูนย์ช่วยเหลือ</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-muted">สั่งซื้อสินค้าอย่างไร</a>
          </li>
          <li>
            <a href="#!" class="text-muted">เริ่มขายสินค้าอย่างไร</a>
          </li>
          <li>
            <a href="#!" class="text-muted">อยากลงโฆษณาทำอย่างไร</a>
          </li>
          <li>
            <a href="#!" class="text-muted">ติดต่อ Pezy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">เกี่ยวกับ Pezy</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-muted">เกี่ยวกับเรา</a>
          </li>
          <li>
            <a href="#!" class="text-muted">นโยบายของ Pezy</a>
          </li>
          <li>
            <a href="#!" class="text-muted">ความเป็นส่วนตัว</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">ติดตาม Pezy</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-muted">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-muted">Instagram</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">ดาวโหลดแอปพลิเคชั่น</h6>

        <ul class="list-unstyled">
          <div class="row">
            <div class="col-lg-4">
              <li>
                <a href="#!"><img src="assets/img/qr.png" alt="logo" style="width:70px"></a>
              </li>
            </div>
            <div class="col-lg-4">
              <li>
                <a href="#!"><img src="assets/img/ios.png" alt="logo" style="widows: 50px;"></a>
                <a href="#!"><img src="assets/img/android.png" alt="logo" style="widows: 5px;"></a>
              </li>
            </div>
          </div>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color:whitesmoke;">© 2019 Copyright:
    <a href="#" class="text-muted"> Life Gainer</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Login -->
<div mdbModal #frame="mdbModal" class="modal fade bottom" id="LoginModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant" style="border-radius: 20px;">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 text-white font-weight-bold my-3" id="myModalLabel">
          <strong>เข้าสู่ระบบ</strong>
        </h3>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <div class="form-group mb-3">
            <input type="email" placeholder="ชื่อผู้ใช้/email" id="Form-email1" class="form-control" style="border-radius: 8px;">
          <mdb-error
            *ngIf="modalFormElegantEmail.invalid && (modalFormElegantEmail.dirty || modalFormElegantEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="modalFormElegantEmail.valid && (modalFormElegantEmail.dirty || modalFormElegantEmail.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="form-group mb-3">
            <input mdbInput type="password" placeholder="รหัสผ่าน" id="Form-pass1" class="form-control validate" style="border-radius: 8px;">
          <mdb-error
            *ngIf="modalFormElegantPassword.invalid && (modalFormElegantPassword.dirty || modalFormElegantPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="modalFormElegantPassword.valid && (modalFormElegantPassword.dirty || modalFormElegantPassword.touched)">
            Input valid
          </mdb-success>
          <br>
          <p class="font-small d-flex justify-content-end">
            <a href="#" class="ml-1 text-light">ลืมรหัสผ่าน ?</a>
          </p>
        </div>

        <div class="form-row mb-4">
            <div class="col-lg-6">
              <button type="button" mdbBtn color="warning" block="true" class="z-depth-1a waves-light" style="width: 100%;" mdbWavesEffect>สมัครสมาชิก</button>
            </div>
            <div class="col-lg-6">
                <button type="button" mdbBtn color="warning" block="true" class="z-depth-1a waves-light" style="width: 100%;" mdbWavesEffect>
                    <a href="#" class="w3-button w-100 text-white">ล็อคอิน</a>
                </button>
            </div>
        </div>

        <div class="text-center mb-3">
          <button type="button" mdbBtn gradient="blue" block="true" class="z-depth-1a waves-light"
                  mdbWavesEffect>เข้าสู่ระบบด้วย Facebook
          </button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- Register -->
<!-- <router-outlet></router-outlet> -->