<!-- <nav class="mb-1 navbar navbar-expand-lg secondary-color lighten-1" id="navcolor">
  <div class="col-sm-1 sidenav">
  </div>
  <a class="navbar-brand" href="#">              
      <img src="assets/img/Logo.png" alt="logo" style="width:112.3px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
            <form class="form-inline mr-auto" id="navBarSearchForm">
                <input class="form-control" id="inputdefault" type="text" placeholder="คันหาสินค้า/ร้านค้า" aria-label="Search">
          </form>
          <span class="sr-only">(current)</span>
        </a>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
              <a href="" class="btn btn-default btn-rounded btn btn-outline-warning" data-toggle="modal" data-target="#modalRegister" style="color: #ffffff">
                      <img src="" class="btn-login" alt="สมัครสมาชิก">
              </a>              
          </a>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
              <a href="" class="btn btn-default btn-rounded btn btn-outline-warning" data-toggle="modal" data-target="#elegantModalForm" style="color: #ffffff">
                  <img src="" class="btn-login" alt="ล็อคอิน">
              </a>
          </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-1 sidenav">
  </div>
</nav> -->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark orange darken-4 lighten-1" [containerInside]="false">
  <div class="col-sm-1 sidenav">
  </div>
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">              
      <img src="assets/img/Logo.png" alt="logo" style="width:112.3px;">
  </a>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <form class="form-inline my-1 my-lg-0">
              <input class="form-control" type="search" placeholder="" aria-label="Search" style="width: 500px; border-radius: 20px;">
              <!-- <button class="btn btn-outline-light  waves-effect btn-md my-2 my-sm-0 ml-3" type="submit">Search</button> -->
            </form>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>

      <!-- Dropdown -->
    </ul>
    
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
          <button type="button" class="btn btn-outline-light btn-rounded waves-effect" style="width:130px; border-radius: 20px;">สมัครสมาชิก</button>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item avatar dropdown" dropdown>
          <button type="button" class="btn btn-outline-light btn-rounded waves-effect" style="width:130px; border-radius: 20px;">ล็อคอิน</button>
      </li>
    </ul>
    <div class="col-sm-1">
    </div>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<!-- Modal Login -->
<div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <!--Content-->
      <form action="./Login.html" method="get">
          <div class="modal-content form-elegant bg-linear-ingradient">
              <!--Header-->
              <div class="modal-header text-center">
                  <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3 text-light" id="myModalLabel">
                      <strong>เข้าสู่ระบบ</strong></h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body mx-4">
                  <!--Body-->
                  <div class="md-form mb-2"> 
                      <input type="email" placeholder="ชื่อผู้ใช้/email" id="Form-email1" class="form-control validate">
                  </div>

                  <div class="md-form pb-3">
                      <input type="password" placeholder="รหัสผ่าน" id="Form-pass1" class="form-control validate">
                      <p class="font-small blue-text d-flex justify-content-end"><a href="#"
                              class="text-light ml-1">
                              ลืมรหัสผ่าน</a></p>
                  </div>
                  <div class="row">
                          <div class="col-md-4">
                                  <button type="button" class="Button-custom btn btn-login btn-block btn-rounded z-depth-1a">Facebook</button>
                          </div>
                              <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                  <div style="float: right;" class="col-md-6 ml-auto">
                      <button type="submit" class="Button-custom btn btn-light btn-block btn-rounded z-depth-1a btn btn-secondary">เข้าสู่ระบบ</button>
                  </div>
                  </div>
                  <div class="row my-3 d-flex justify-content-center">
                      <!--Facebook-->
                  </div>
              </div>
              <!--Footer-->
              <div class="modal-footer mx-4 pt-3 mb-1">
                  <p class="font-small text-light d-flex justify-content-end">ยังไม่เป็นสมาชิกใช่ไหม? <a href="#"
                          class="text-light ml-1">
                          สมัครสมาชิก</a></p>
              </div>
          </div>
      </form>
      <!--/.Content-->
  </div>
</div>
<!-- Modal Login -->
<!-- Modal Register -->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog text-light" role="document">
      <!--Content-->
      <div class="modal-content form-elegant bg-linear-ingradient">
          <!--Header-->
          <div class="modal-header text-center">
              <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
                  <strong>สมัครสมาชิก</strong></h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!--Body-->
          <form action="Register.html" method="get">
              <div class="modal-body mx-4">
                  <!--Body-->
                  <div class="md-form mb-3">
                      <label data-error="wrong" data-success="right" for="Form-email1">ชื่อ - นามสกุล</label>
                      <input type="text" id="Form-email1" class="form-control validate">
                  </div>
                  <div class="md-form mb-3">
                      <label data-error="wrong" data-success="right" for="Form-email1">เบอร์โทรศัพท์</label>
                      <input type="text" id="Form-email1" class="form-control validate">
                  </div>
                  <div class="md-form mb-3">
                      <label data-error="wrong" data-success="right" for="Form-email1">Email</label>
                      <input type="email" id="Form-email1" class="form-control validate">
                  </div>
                  <div class="md-form mb-3">
                      <label data-error="wrong" data-success="right" for="Form-email1">ชื่อผู้ใช้</label>
                      <input type="text" id="Form-email1" class="form-control validate">
                  </div>
                  <div class="md-form mb-3">
                      <label data-error="wrong" data-success="right" for="Form-email1">รหัสผ่าน</label>
                      <input type="password" id="Form-email1" class="form-control validate">
                  </div>
                  <div class="md-form mb-3">
                      <label data-error="wrong" data-success="right" for="Form-email1">ยืนยันรหัสผ่าน</label>
                      <input type="password" id="Form-email1" class="form-control validate">
                  </div>

                  <div class="mb-2 p-2">
                      <div class="text-center">
                          ในการสมัครใช้งาน เราถือว่าคุณยอมรับ<span class="highlight">นโยบาย</span>และ<span
                              class="highlight">นโยบายความเป็นส่วนตัว</span>กับทาง PEZY ขอสงวนสิทธิ์ห้ามมิให้ฝ่าฝืน
                          PEZY มีสิทธิ์ระงับสถานะบัญชีผู้ใช้และงดให้บริการทันที ให้ความเห็นของ PEZY เป็นที่สุด
                      </div>
                  </div>

                  <div class="mb-4 p-2">
                      <div class="form-group form-check text-center">
                          <input type="checkbox" class="form-check-input" id="chk-agree">
                          <label class="form-check-label" for="chk-agree">ฉันยอมรับเงื่อนไขและนโยบายของ PEZY</label>
                      </div>
                  </div>

                  <div class="text-center mb-3">
                      <input type="submit" class="Button-custom button-highlight btn blue-gradient btn-block btn-rounded z-depth-1a"
                          value="ลงทะเบียน" />
                  </div>
              </div>
          </form>
      </div>
      <!--/.Content-->
  </div>
</div>
<!-- Modal Register -->

<!--Body-->
<div class="container-fluid text-center">    
      <div class="row content">
        <div class="col-sm-1 sidenav">
          <!-- <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p> -->
        </div>
        <div class="col-sm-10 text-left"> 
              <div class="row">
                  <div class="col-sm-3 col-md-6 col-lg-12">
                      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                          <mdb-carousel-item>
                            <div class="view w-100">
                              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                              <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                            </div>
                            <div class="carousel-caption">
                              <h3 class="h3-responsive">Light mask</h3>
                              <p>First text</p>
                            </div>
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <div class="view w-100">
                              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                              <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                            </div>
                            <div class="carousel-caption">
                              <h3 class="h3-responsive">Strong mask</h3>
                              <p>Secondary text</p>
                            </div>
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <div class="view w-100">
                              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                              <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                            </div>
                            <div class="carousel-caption">
                              <h3 class="h3-responsive">Slight mask</h3>
                              <p>Third text</p>
                            </div>
                          </mdb-carousel-item>
                        </mdb-carousel>
                  </div>
                      <div class="col-sm-3 col-md-6 col-lg-6">
                              <br>
                              <img src="assets/img/Banner2.png" alt="logo" style="width:100%; height: 100%;">
          
                      </div>
                      <div class="col-sm-9 col-md-6 col-lg-6">
                              <br>
                              <img src="assets/img/Banner3.png" alt="logo" style="width:100%; height: 100%;">
                      </div>
                      <br>
                      <div class="col-sm-9 col-md-6 col-lg-12 Path-54">
                          <br>
                          Catagory/หมวดสินค้า
                      </div>
                      <div class="col-sm-3 col-md-6 col-lg-12">
                              <br>
                              <div class="row">
                                  <div class="col-sm-3 col-md-6 col-lg-12 align-content-lg-center" style="height:500px; background-color: #ffffff" href="#">
                                  <!-- <center>
                                      Coming Soon
                                  </center> -->
                                  <div class="container">
                                      <div class="row">
                                        
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12 text-center">
                                              <br/><br/><br/>
                                              <hr/>
                                              <p>Coming Soon</p>
                                              <!-- <p>Change data items for xs,sm,md and lg display items respectively. Ex:data-items="1,3,5,6"</p>
                                              <p>Change data slide for slides per click Ex:data-slide="1"</p> -->
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                      </div>
                    </div>
        </div>
        <div class="col-sm-1 sidenav">
          <!-- <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div> -->
        </div>
      </div>
  </div>
    
<!-- Footer -->
<footer class="page-footer font-small Rectangle-166">
  <!-- Footer Links -->
  <br>
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-2 text-dark">ศูนย์ขอความช่วยเหลือ</h5>

        <ul class="list-unstyled text-muted">
          <li>
            <a href="#!" class="text-muted">สั่งซื้อสินค้าอย่างไร</a>
          </li>
          <li>
           <a href="#!" class="text-muted">เริ่มขายสินค้าอย่างไร</a>
          </li>
          <li>
            <a href="#!" class="text-muted">อยากโฆษณาอย่างไร</a>
          </li>
          <li>
            <a href="#!" class="text-muted">ติดต่อ Pezy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">เกี่ยวกับ Pezy</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-muted">เกี่ยวกับเรา</a>
          </li>
          <li>
            <a href="#!" class="text-muted">นโยบายของ Pezy</a>
          </li>
          <li>
            <a href="#!" class="text-muted">นโบายความเป็นส่วนตัว</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ติดตาม Pezy</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-muted">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-muted">Instagram</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ดาวโหลดแอปพลิเคชั่น</h5>
      
        <ul class="list-unstyled">
      <div class="row">
          <div class="col-lg-4">
          <li>
            <a href="#!"><img src="assets/img/qr.png" alt="logo" style="width:70px"></a>
          </li>
          </div>
          <div class="col-lg-4">
          <li>
              <a href="#!"><img src="assets/img/ios.png" alt="logo" style="widows: 50px;"></a>
              <a href="#!"><img src="assets/img/android.png" alt="logo" style="widows: 5px;"></a>
          </li>
          </div>
      </div>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">© 2019 Copyright:
    <a href="#" class="text-muted">Life Gainer</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<router-outlet></router-outlet>